
a{
    text-decoration: none;
    font-size: 35px;
    margin: 55px;
    background-color: bisque;
    color: white;
}
ul li{
    list-style-type: none;
    display: inline;
}
.face{
    position: absolute;
    top: 50px;
}


